KINDLE_REGION=us
KINDLE_HEADLESS=false
KINDLE_PAGE_DELAY_MS=2500
KINDLE_STORAGE_PATH=data/kindle_service.db
KINDLE_BROWSER_PROFILE_PATH=data/browser-profile
KINDLE_AMAZON_BASE_URL=https://www.amazon.com/
KINDLE_CONTENT_LIBRARY_BOOKS_URL=https://www.amazon.com/hz/mycd/digital-console/contentlist/booksAll/dateDsc/
KINDLE_CONTENT_LIBRARY_DOCS_URL=https://www.amazon.com/hz/mycd/digital-console/contentlist/pdocs/dateDsc/
